  <select>
                                    <%    @resturaunts.each do |loop|
                                       %> <option><%=loop.category%></option> <%
                                    end
                                   %>
                                   
                                    </select>